@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'),
  url('../assets/fonts/roboto/roboto-regular.woff2') format('woff2'),
  url('../assets/fonts/roboto/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto Bold'),
  url('../assets/fonts/roboto/roboto-bold.woff2') format('woff2'),
  url('../assets/fonts/roboto/roboto-bold.woff') format('woff');
}
