@keyframes js-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.js-hidden {
  visibility: hidden;
  opacity: 0;
}

.js-ready {
  animation: js-in .25s ease-out;
}

.mod-no-lg {
  @include w-from($screen-lg) {display: none !important;}
}

.mod-no-sm {
  @include w-to($screen-md) {display: none !important;}
}

.mod-only-sm {
  @include w-from($screen-md) {display: none !important;}
}

.mod-only-lg {
  @include w-to($screen-lg) {display: none !important;}
}

[v-cloak] {
  display: none;
}
