/*
@font-face {
  font-family: 'Icons';
  src: url('../assets/fonts/icons/icons.woff2?17623031') format('woff2'),
  url('../assets/fonts/icons/icons.woff?17623031') format('woff');
  font-weight: normal;
  font-style: normal;
}


[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "Icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
}
*/

// @formatter:off
