body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: $screen-sm;
  text-size-adjust: none;

  @include placeholder {}
}

::-moz-selection {}

::selection {}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
figcaption {
  margin: 0;
  color: inherit;
}

a,
button {
  transition: $transition-normal;

  &:hover {
    transition: $transition-fast ease-out;
  }
}

a {
  text-decoration: none;
  color: $color-link;

  &:hover {
    color: $color-link-active;
  }
}

picture,
img {
  display: block;
  font-size: 13px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  cursor: pointer;
}

button,
input,
textarea,
select {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type=date]::-webkit-calendar-picker-indicator,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-clear-button,
select::-ms-expand,
input::-ms-clear {display: none;}

.slick-slide {
  outline: none !important;
}
