$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1200px;
$screen-xl: 1440px;

$transition-normal: .25s;
$transition-fast: .15s;

$font-family-default: 'Roboto', 'Arial', sans-serif;

$color-text-default: black;
$color-text-light: rgba(black, .7);

$color-accent: orange;

$color-link: $color-accent;
$color-link-active: darken($color-accent, 15%);
