-
  const favicons = [
  {filename: 'favicon.png', size: '16x16'},
  {filename: 'favicon-32.png', size: '32x32'},
  {filename: 'favicon-48.png', size: '48x48'},
  {filename: 'favicon-64.png', size: '64x64'},
  {filename: 'favicon-apple-152.png', size: '152x152'},
  {filename: 'favicon-apple-167.png', size: '167x167'},
  {filename: 'favicon-apple-180.png', size: '180x180'},
  {filename: 'favicon-apple-192.png', size: '192x192'},
  ]

each favicon in favicons
  link(rel='shortcut icon' type='image/png' href=`assets/favicon/${favicon.filename}` sizes=`${favicon.size}`)
  link(rel='apple-touch-icon' href='assets/favicon/apple-touch-icon.png' sizes='180x180')
