-
  const opengraph = {
  locale: 'ru_RU',
  type: 'website',
  url: meta.url,
  title: meta.title,
  description: meta.description,
  'image': 'assets/img/opengraph.jpg',
  'image:type': 'image/jpeg',
  'image:alt': meta.title,
  'image:width': 968,
  'image:height': 504
  }

each content, key in opengraph
  meta(property=`og:${key}` content=content)
