-
  const preload = [
  {as: 'font', type: 'font/woff2', href: 'assets/fonts/roboto/roboto-regular.woff2'},
  {as: 'font', type: 'font/woff2', href: 'assets/fonts/roboto/roboto-bold.woff2'},
  ]

each item in preload
  link(rel='preload' href=item.href type=item.type as=item.as crossorigin="anonymous")
