.browser-warn {
  display:    none;
  position:   fixed;
  left:       0;
  right:      0;
  top:        0;
  padding:    8px 10px;
  background: $color-accent;
  z-index:    100;
  font-size:  13px;
  color:      #222222;

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {opacity: .75;}
  }
}
