doctype html
html(lang='ru')
  head
    meta(name='charset', content='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title=meta.title
    meta(name='description', content=meta.description)
    meta(name='keywords', content=meta.keywords)

    meta(name='theme-color', content=meta.themeColor)

    include ../includes/favicons
    include ../includes/opengraph
    include ../includes/preload
    include ../includes/preconnect

    link(rel='stylesheet' href='styles/main.css')

    link(rel='manifest' href='manifest.json')

    noscript
      style
        | .js-hidden{visibility: visible !important; opacity: 1!important;}
  body
    include ../../blocks/_mixins/mixins

    include ../../blocks/_helpers/browser-update/browser-update
    include ../../blocks/_helpers/browser-warn/browser-warn
    block content

    block scripts
      script(src="scripts/bundle.js" defer)
include ../includes/metrics
