@import 'vendor/**/*.scss';
@import 'parts/fonts';
@import 'parts/vars';
@import 'parts/mixins';
//
@import 'parts/reset';
@import 'parts/typo';
@import 'parts/buttons';
@import 'parts/icons';
@import 'parts/helpers';
//
@import '../blocks/**/*.scss';
//
@import 'parts/ie';

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: $font-family-default;
  color: $color-text-default;
  font-size: 16px;
}
