.debug-menu {
  position: fixed;
  z-index: 10;
  bottom: 3vh;
  left: -140px;
  width: 150px;
  padding: 8px 6px;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  font-size: 12px;
  border: thin solid #e2e2e2;
  background: rgba(white, .95);
  transition: $transition-normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &:hover {
    left: -1px;
    transition: $transition-fast ease-in-out;
  }

  &__divider,
  a {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__divider {
    height: 1px;
    width: 100%;
    background: #e2e2e2;
  }

  a {
    display: block;
    border-bottom: none;
    text-decoration: underline;
  }
}
