<!--[if lte IE 11]>
<div class="browser-update">
  <div class="browser-update__content">
    <p class="browser-update__title">Ваш браузер устарел и не может открыть этот сайт</h3>
    <p class="browser-update__text">Современный браузер повысит скорость, безопасность и качество работы интернете.</p>
    <p class="browser-update__text"> Попробуйте <a href="https://www.google.ru/chrome/" target="_blank">скачать браузер Гугл Хром</a>.</p>
  </div>
</div>
<![endif]-->
