.browser-update {
  position:   fixed;
  left:       0;
  right:      0;
  top:        0;
  bottom:     0;
  background: $color-accent;
  color:      #222222;
  z-index:    100;

  &__content {
    max-width: 400px;
    margin:    25vh auto;
  }

  &__title {
    font-size:     24px;
    font-weight:   bold;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        opacity: .5;
      }
    }
  }
}
