extends templates/template-default

block content
  h1 Стили
  .styles
    p
      | Pale Blue Dot («бледно-голубая точка»  (англ.)) — фотография планеты Земля, сделанная зондом «Вояджер-1» с рекордного расстояния, показывающая её на фоне космоса. Идея сделать снимок и это название были предложены Карлом Саганом, который также написал одноимённую книгу в 1994 году[1].
